@{
    ViewBag.Title = "ErrorPopUp";
}
<head>
    <title>PRUEBA BOOTSTRAP</title>
        @*<link type="text/css" rel="stylesheet" href="~/Content/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="~/Content/bootstrap.min.css" />
        <link rel="stylesheet" href="~/Content/justified-nav.css"/>
        <script src="~/Scripts/jquery-1.9.1.min.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>*@
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
   

</head>

<body>
    <div class="container">
        <h2>button</h2>
        <button type="button" class="btn btn-primary">Primary</button>
    </div>

</body>

